* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#app {
    position: relative;
    width: 414px;
    height: 420px;
    display: block;
    margin: 70px auto;
    text-align: center;
    padding: 40px 0px;
    overflow: hidden;
    border-radius: 45px;
    background: linear-gradient(to right, #8e2de2, #4a00e0);


}

#searchBar {
    display: flex;
    padding: 0 40px;
    margin-bottom: 30px;
}

#searchBarInput {
    background-color: none;
    border: none;
    outline: none;
    width: 90%;
    background: transparent;
    color: #fff;
    border-bottom: solid 1px lightblue;

}

input::placeholder {
    color: #fff;
    opacity: 0.6;

}

#info {
    line-height: 0.5rem;
    color: #fff;

}

#info h3{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.56em;

}

#description {
    text-transform: uppercase;
    color: #fff;
}

#temp {
    color: #fff;
    font-size: 30px;
    margin-top: 20px;
}


#searchIcon {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.5s;
    
}
#searchIcon:hover {
    color: rgb(11, 145, 241);
}

#extraInfo {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding-bottom: 30px;


}

#extraInfo h5 {
    font-size: 1.1rem;
    text-transform: uppercase;
}
